@charset "utf-8";
@import url("./css/normalize.css");
@import url("./fonts/M_PLUS_Rounded_1c.css");
@import url("./css/utility_for_penguin.css");

.wrap{
    box-sizing:border-box;
    width:1200px;
    min-height:100vw;
    color:#dfdfdf;
    background:url("./img/background_img/08-Wallpaper.png") left top repeat;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


.refelence_url > li{
    list-style-type:none;
}

.refelence_url > li:first-of-type::before{
    display:block;
    content:"参考URL";
    margin:1rem 0 0.3rem;
}

.refelence_url li a{
    display:inline-block;
    text-decoration:none;
    border-bottom:1px dashed #afafaf;
    padding-bottom:3px;

    /*下線小細工*/
    position:relative;
}
.refelence_url li a:visited{
    color:#aaa;
}
.refelence_url li a:hover{
    color:#fff;
}
.refelence_url li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-1px;
    width:0;
    border-bottom:1px solid #afafaf;
    transition:0.7s ease-out;
}
.refelence_url li a:hover::after{
    width:100%;
}

li+li{
    margin-top:2rem;
}
.refelence_url > li{
    margin:5px 0;
}

.event_detail{
    /*最低300px、最大60文字の幅で可能であれば35文字の幅を保つ…？*/
    width:clamp(300px,35rem,60rem);
    max-height:10rem;
    padding:1rem 2rem;
    margin-top:0;
    border:1px solid #dfdfdf;
    overflow:scroll;
}
.event_detail > dt::before{
    display:inline;
    content:"「"
}
.event_detail > dt::after{
    display:inline;
    content:"」"
}
.event_detail > dt+dd{
    margin-top:0.5rem;
}
.event_detail > dd > span.cause{
    display:inline-block;
    margin-top:0.5rem;
}